@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.container {
  padding: 10px;
}

.header {
  @include mixins.fonts;
  font-weight: 500;
}

.input {
  margin-block: 6px;
  margin-inline: 2px;
  width: 200px;
  border: none;
  font-size: 0.9rem;
}

.inputWithIconContainer {
  display: flex;
  align-items: center;
}

.searchIcon {
  margin-left: 8px;
  margin-right: 4px;
  color: variables.$grey;
}

.plusIcon {
  margin-inline: 12px;
  color: variables.$grey;
}

.addButton {
  background: none;
  border: none;
  width: 100%;
  border-top: 1px solid variables.$darker-grey;
  padding-block: 6px;
  text-align: start;
  border-radius: 0 0 8px 8px;
  transition: background 0.2s;
  cursor: pointer;
}

.addButton:hover {
  background: variables.$light-grey;
}

.buttonText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tagsList {
  max-height: 200px;
  overflow-y: auto;
}
