@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.container {
  padding: 10px;
}

.header {
  @include mixins.fonts;
  font-weight: 500;
}

.input {
  margin-block: 6px;
  margin-inline: 2px;
  width: 200px;
  border: none;
  font-size: 0.9rem;
}

.inputWithIconContainer {
  display: flex;
  align-items: center;
}

.searchIcon {
  margin-left: 8px;
  margin-right: 4px;
  color: variables.$grey;
}

.plusIcon {
  margin-inline: 12px;
  color: variables.$grey;
}

.addButton {
  background: none;
  border: none;
  width: 100%;
  border-top: 1px solid variables.$darker-grey;
  padding-block: 6px;
  text-align: start;
  border-radius: 0 0 8px 8px;
  transition: background 0.2s;
  cursor: pointer;
}

.addButton:hover {
  background: variables.$light-grey;
}

.buttonText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tagLabel {
  display: flex;
  transition: background 0.2s;
  font-size: 0.9rem;
  padding-block: 2px;
  align-items: center;
}

.tagLabel:hover {
  background: variables.$light-grey;
}

.tag {
  list-style-type: none;
}

.tagsList {
  max-height: 200px;
  overflow-y: auto;
}

.tagText {
  margin-left: 8px;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  color: variables.$grey;
  width: 14px;
  height: 14px;
  border: 2px solid variables.$grey;
  border-radius: 2px;
  display: grid;
  place-content: center;
}

.checkbox:active,
.checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked:after {
  content: "\2714";
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: variables.$grey;
}
