@use "../../../styles/modals.scss";
@use "../../../styles/buttons";
@use "../../../styles/variables";

.modalWindow {
  @extend .modalWindow;
  padding: 20px 16px 16px 16px;
  text-align: center;
  width: fit-content;
  transition: transform 0.2s ease-out;
}

.noteName {
  font-weight: 500;
}
