@use "../../../styles/mixins.scss";

.container {
  margin-top: 16px;
}

.badge {
  @include mixins.headerFont;
  font-size: 0.7rem;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  border-radius: 16px;
  margin-right: 8px;
}
