.buttonsBar {
  margin: 0 10px 0 10px;
  opacity: 0;
  transition: all 0.2s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.paletteContainer {
  position: relative;
}

.visible {
  opacity: 100%;
}
