.buttonsBar {
  margin: 0 10px 10px 10px;
  opacity: 0;
  transition: all 0.2s linear;
  display: flex;
  justify-content: space-between;
}

.buttonsBar .iconContainer {
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: none;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.buttonsBar .iconContainer:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.paletteContainer {
  @extend .iconContainer;
}

.paletteContainer:hover .colorPalette {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.note:hover .buttonsBar {
  opacity: 100%;
}
