@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.list {
  list-style-type: none;
}

.listItem {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-block: 12px;
  justify-content: center;
}

.line {
  border-top: 1px solid variables.$scrollbar-grey;
  border-left: none;
  border-right: none;
  border-bottom: none;
  opacity: 0.6;
}

.crossed {
  text-decoration: line-through;
  color: variables.$grey;
}

.container {
  padding-inline: 24px;
  overflow-y: scroll;
  max-height: 50vh;
}

.input {
  @include mixins.fonts;
  background: none;
  border: none;
  width: 100%;
  font-size: 16px;
}

.plusIcon {
  color: variables.$grey;
  font-size: 12px;
}

.newItemInput {
  @extend .input;
  @include mixins.headerFont;
  font-size: 0.8rem;
  font-weight: bold;
  margin-block: 4px;
}

.hidden {
  visibility: hidden;
}
