@use "../../../styles/variables.scss";
@use "../../../styles/mixins.scss";

.list {
  list-style-type: none;
}

.listItem {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-block: 12px;
}

.line {
  border-top: 1px solid variables.$scrollbar-grey;
  border-left: none;
  border-right: none;
  border-bottom: none;
  opacity: 0.6;
}

.crossed {
  text-decoration: line-through;
  color: variables.$grey;
}

.container {
  padding-inline: 24px;
}

.input {
  @include mixins.fonts;
  background: none;
  border: none;
  width: 100%;
  font-size: 16px;
}
