@use "../../../styles/variables.scss";

.label {
  text-transform: uppercase;
  padding: 4px 20px;
  font-size: 0.7rem;
  color: variables.$dark-grey;
  letter-spacing: 1px;
}

.container {
  padding-bottom: 40px;
}
