@use "../../../styles/buttons";
@use "../../../styles/modals.scss";
@use "../AddNote/AddNote.module.scss";

.text {
  @extend .text;
  background: none;
}

.btn {
  @extend .btn;
  float: right;
}

.modalWindow {
  transition: background 0.2s linear, transform 0.2s ease-out;
  overflow: visible;
}

.tagsBarContainer {
  padding-inline: 16px;
  padding-bottom: 8px;
}
