@use "../../../styles/variables.scss";

.colorButton {
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin: 2px;
  cursor: pointer;
}

.colorButton:hover {
  border: 2px solid variables.$black;
}

.border {
  border: 2px solid variables.$darker-grey;
}
