@use "../../../styles/variables";
@use "../../../styles/mixins";

.header {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: variables.$plain-white;
}

.appName {
  @include mixins.headerFont;
  font-weight: 500;
}
