@use "../../../styles/variables";
@use "../../../styles/mixins";

.header {
  padding: 8px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: variables.$plain-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link,
.link:active,
.link:visited {
  color: black;
}

.appName {
  @include mixins.secondaryFont;
  font-weight: 500;

  @include mixins.mobile {
    display: none;
  }
}

.groupContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 0.9rem;
  padding: 4px 4px;
}

.groupContainer strong {
  font-weight: 500;
}

.greeting {
  @include mixins.mobile {
    display: none;
  }
}
