@use "../../../styles/variables";
@use "../../../styles/buttons";
@use "../../../styles/mixins";

.centeringContainer {
  display: flex;
  justify-content: center;
  margin: 30px;

  @include mixins.mobile {
    margin-inline: 0px;
  }
}

.form {
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  background-color: variables.$plain-white;
  transition: background 0.2s linear;
  position: relative;
  min-height: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include mixins.mobile {
    width: 100%;
  }
}

.textInput {
  width: 100%;
  font-size: 18px;
  padding: 8px 16px;
  border: none;
  outline: none;
}

.title {
  @include mixins.secondaryFont;
  @extend .textInput;
  font-weight: 600;
  padding-top: 16px;
  font-size: 1.2rem;
}

.text {
  @extend .textInput;
  font-size: 15px;
  padding-block: 8px;
  border-radius: 10px;
  background: none;
}

.btn {
  @extend .btn;
  float: right;
}

.buttonsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagsBarContainer {
  padding-inline: 16px;
  padding-bottom: 8px;
}

.checklistButton {
  position: absolute;
  right: 0;
  opacity: 0.6;
}
