@use "../../../styles/variables";
@use "../../../styles/buttons";
@use "../../../styles/mixins";

.centeringContainer {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.form {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background-color: variables.$plain-white;
  transition: background 0.2s linear;
}

.textInput {
  width: 100%;
  font-size: 18px;
  padding: 8px 16px;
  border: none;
  outline: none;
}

.title {
  @include mixins.headerFont;
  @extend .textInput;
  font-weight: 600;
  padding-top: 16px;
  font-size: 1.2rem;
}

.text {
  @extend .textInput;
  font-size: 15px;
  padding-block: 8px;
  border-radius: 10px;
  background: none;
}

.btn {
  @extend .btn;
  float: right;
}

.buttonsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
