@use "./variables";
@use "./mixins.scss";

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include mixins.fonts;
  background-color: variables.$main-background;
}

input {
  @include mixins.fonts;
  background: none;
  outline: none;
}

textarea {
  @include mixins.fonts;
  resize: none;
  max-height: 50vh;
}

::placeholder {
  color: black;
  opacity: 0.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include mixins.headerFont;
  font-weight: 700;
}

a,
a:visited {
  text-decoration: none;
  color: variables.$url;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transform: scale(0.1);
  transition: transform 0.2s ease-out;
}

.ReactModal__Content--after-open {
  transform: scale(1);
}

.ReactModal__Content--before-close {
  transform: scale(0.1);
}

.xmasonry .xblock {
  transition: left 0.3s ease, top 0.3s ease;
}

::-webkit-scrollbar {
  width: 10px;
  outline: 1px solid variables.$scrollbar-grey;
}

::-webkit-scrollbar-track {
  background: variables.$plain-white;
}

::-webkit-scrollbar-thumb {
  background: variables.$scrollbar-grey;
}

::-webkit-scrollbar-thumb:hover {
  background: variables.$scrollbar-hover;
}
